sudo: required

services:
  - docker

env:
  - COMPOSE_FILE=docker-compose.yml:compose/musicbrainz-standalone.yml

before_install:
  - docker-compose build
  - docker-compose run --rm musicbrainz createdb.sh -fetch -sample
  - docker-compose up --quiet-pull -d

script:
  - ./test/test-musicbrainz-image.sh
